<!DOCTYPE html>
<html>
  <body>
    <h1>Top Comment:</h1>
    <%= @comment.content %> <br>
    Author: <%= @comment.author.email %>
    <br>
    <br>
    <h2>Sub-Comments:</h2>
    <%=link_to("Submit a SubComment!", new_post_comment_url(@comment.post, parent_id: @comment.id))%>
    <%= render "comments/subcomment", comment: @comment, post_id: @comment.post.id %>
  </body>
</html>
